@using SecuritySite.Models;
@model List<MonitoredAccount>

<div class="locations-padding">
    <h1 class="same-line">My Locations</h1>

    @if(Model == null || Model.Count == 0)
    {
        <p>You have no accounts, start off by creating your first account.</p>
    }
    else
    {
        <div class="account-preview-grid">
            @foreach(MonitoredAccount account in Model)
            {
                <div class="account-preview">
                    <div>
                        <br/>
                        @if (!account.commercial)
                        {
                            <i class="fa-icon-preview fa-solid fa-house"></i>
                        }
                        else
                        {
                            <i class="fa-icon-preview fa-regular fa-building"></i>
                        }
                    </div>

                    <div>
                        <p class="preview-title">@account.locationName</p>
                        <p class="preview-text">@account.address</p>
                        @if (account.accepted)
                        {
                            <p class="preview-text blue" style="font-weight:bold">Account: Approved</p>
                        }
                        else
                        {
                            <p class="preview-text redish">Account: Pending Approval</p>
                        }
                        @if (account.completed)
                        {
                            <p class="preview-text blue" style="font-weight:bold">Account Completed</p>
                        }
                        else
                        {
                            <p class="preview-text redish">Needs Review</p>
                        }
                        @if (account.deleted)
                        {
                            <p class ="preview-text redish">Delete Requested</p>
                        }
                        <p class="preview-text">Monthly Rate: $@(account.MonthlyCost)</p>
                    </div>

                    <div>
                        <a href="/Account/edit/location/@account.MonitoredAccountId">View Account</a>
                        <br />
                        <br/>
                        <a href="/Account/edit/features/@account.MonitoredAccountId">Edit Plan</a>

                    </div>
                </div>
            }
        </div>
    }



    <a href="/account/new/location" class="new-location">New Location</a>
</div>