@{
}
<h1 class="left-margin">Hello Username</h1>
<form>

<div class="left-padding overview-grid">
        @*General Info*@

       
        <div>
            <p>Monitored Accounts: </p>
        <p>X</p> 
        </div>
        <div>
            <p>Email:</p>
            <input type="text" value="" />
        </div>

        <div>
            <p>Phone Number: </p>
            <input type="text" value="" />
        </div>
        <div>
            <p>Billing address:</p>
            <input type="text" value="" />
        </div>

        <div>
            <p>City:</p>
            <input type="text" value="" />
        </div>
        <div>
            <p>County:</p>
            <input type="text" value="" />
        </div>

        <div>
            <p>Zipcode:</p>
            <input type="text" value="" />
        </div>
        <div>
            <p>State:</p>
            <input type="text" value="" />
        </div>


    </div>
    <p class="left-margin">Submit edits below</p>
    <button class="left-margin submit" type="submit">Update</button>

</form>

    <br/>
<div class="left-padding billing-summary">
    @*Summarized Billing Info*@
        <p>Current Monthly Cost: $XX.xx</p>
        <p>Last Months Bill: $XX.xx</p>
        <p>Next Billing Date: 12/12/12</p>
    </div>

<div class="invoice-padding">
    <h1>Latest Invoice</h1>
    <div class="invoice-grid">
        @*Latest Invoice*@
        <div>
            <p>Bill To: John Doe</p>
            <p>Accounts: X</p>
            <p>Billing Address: XXXXst</p>
        </div>

        <div>
            <p class="center-content">Charged To:<br /><br /> XXXX71</p>
        </div>

        <div>
            <p class="center-content">Charged:<br /><br /> $XX.xx</p>
        </div>

    </div>
    <a class="view-invoice">View Full</a>

</div>

