@page
@using SecuritySite.Models;
@model SecuritySite.Pages.Account.IndexModel
@{
    Layout = "_AccountLayout";
}
<link href="~/css/account.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/js/site.js"></script>
<script src="https://kit.fontawesome.com/01e6330f62.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, minimum-scale=1">
@*Partial Container for the the partial pages, doing this to minimze page loads*@

<div class="side-bar-hidden" id="side-bar">
    <i onclick="SideBar()" class="burger-button-black fa-solid fa-bars" id="burger-button"></i>

    <ul>
        <li onclick="viewPage(0); SideBar();">Account Overview </li>
        <li onclick="viewPage(1); SideBar();">Manage Locations </li>
        <li><a href="/account/request/certificate">Certificate Of Alarm</a></li>
@*         <li onclick="viewPage(3)">Billing</li>
        <li onclick="viewPage(4)">Invoices</li>
        <li onclick="viewPage(5)">Settings</li>
        <li onclick="viewPage(6)">Notifications</li> *@
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/about">About Voltic</a></li>
        <li><a href="/termsofservice">Terms Of Service</a></li>
    </ul>
    <a href="/"><p>Voltic</p></a>

</div>

<div class="main-container-full" id="main-container">

        <div class="quick-nav-bar">
        <p class="same-line default-top-nav" onclick="viewPage(0)">Account Overview <i class="fa-regular fa-note-sticky"></i></p>
        <p class="same-line special-item" onclick="viewPage(1)">My Accounts <i class="fa-solid fa-city"></i></p>
        <a class="same-line default-top-nav" href="/account/request/certificate">Certificate Of Alarm <i class="fa-solid fa-certificate"></i></a>
        <a class="same-line default-top-nav" href="/about">About Voltic</a>
        <a class="same-line default-top-nav" href="/termsofservice">Terms Of Service</a>
        </div>

        <div class="partial-page-container">
            <div id="partial-container">
                <partial name="@Model.PageView" model="Model.pageModel" />
            </div>            


        </div>

</div>
