@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="split-container">
    <h1 style="border-color: #e9e9e9" class="general-header">Professional Residential Monitoring - Silver</h1>

    <div class="split left">
        <p class="paragraph-text">
            A professionally monitored alarm system is connected to our central monitoring station; this means that your alarm system is being watched 24 hours a day in the event of an alarm.
            <br/>
            <br />
            Professionally monitored systems have many benefits, primarily being the reduced cost of home insurance. While some insurance companies require the owner to have an alarm system installed, many still offer  a reduced cost on their 
            monthly insurance bill.
            <br />
            <br/>
            Home alarm systems can also bring the home owner peace of mind, not only for intrusion alert but also life safety. Almost all home alarm systems can be connected a device that can detect fires such as a smoke detector and heat detectors. While it is
            not limited to those two types of devices, they can be life saving equipment that can alert the home owner of a fire in the home.
            <br />
            <br />
            In the event that you would like to move to a DIY plan, our monitoring services allows for an easy transition between professional and DIY monitoring.
        </p>

        <p class="paragraph-text">
            Below is a list of features that come with this plan.
            <br />
            Please note, <span class="redish">plans can always be custom made and be given custom pricing when needed</span>.
        </p>

        <h1 class="blue">Plan Includes:</h1>
        <ul class="plan-items">
            <li>Month to Month Monitoring Contract</li>
            <li>Remote App Control - Smart Phone &amp; Computer Accessible*</li>
            <li>Event History Recording*</li>
            <li>Remote Arming &amp; Disarming*</li>
            <li>Daily Communication Tests</li>
            <li>Crash and Smash Protection*</li>
        </ul>
        <br />
        <p>
            * intergration is only available for security systems that are compatible
        </p>
    </div>

    <div class="split left">
        <img src="/photos/home- security.jpg" />
        <h1 class="center">Starting at <span class="redish">30$ a month</span></h1>

    </div>
</div>