@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="split-container">
    <h1 style="border-color: #ede74c" class="general-header">Professional Residential Monitoring - Gold</h1>

    <div class="split left">
        <p class="paragraph-text">
            A professionally monitored alarm system is connected to our central monitoring station; this means that your alarm system is being watched 24 hours a day in the event of an alarm.
            <br />
            <br />
            The main difference between silver and gold monitoring is the smart home features that are activated. Many locations do not need smart home capabilities but we like to offer it to those who prefer to have such devices.
            <br />
            <br />
            Professionally monitored systems have many benefits, primarily being the reduced cost of home insurance. While some insurance companies require the owner to have an alarm system installed, many still offer  a reduced cost on their
            monthly insurance bill.
            <br />
            <br />
            Home alarm systems can also bring the home owner peace of mind, not only for intrusion alert but also life safety. Almost all home alarm systems can be connected a device that can detect fires such as a smoke detector and heat detectors. While it is
            not limited to those two types of devices, they can be life saving equipment that can alert the home owner of a fire in the home.
            <br />
            <br />
            The Gold plan for alarm systems allow for many smart home features and devices to be implemented on your alarm system. Things such as smart locks, smart thermostats, and 
            <br/>
            In the event that you would like to move to a DIY plan, uur monitoring services allows for an easy transition between professional and diy monitoring.
        </p>

        <p class="paragraph-text">
            Below is a list of features that come with this plan.
            <br />
            Please note, <span class="redish">plans can always be custom made and be given custom pricing when needed</span>.
        </p>

        <h1 class="blue">Plan Includes:</h1>
        <ul class="plan-items">
            <li>Month to Month Monitoring Contract</li>
            <li>Remote App Control - Smart Phone &amp; Computer Accessible</li>
            <li>24 Hour Central Station</li>
            <li>Daily Communication Tests</li>
            <li>Crash and Smash Protection</li>
            <li>Z-Wave Intergration Compatible</li>
            <li>Smart Automation Compatible</li>
            <li>Garage Door Control</li>
            <li>Smart Thermostat Compatible</li>
            <li>Smart Lock Compatible</li>
            <li>Lights Control</li>
        </ul>
        <br />
        <p>
            * Smart Home intergration is only available for security systems that are compatible
        </p>
    </div>

    <div class="split left">
        <img src="/photos/smart-home.png" />
        <h1 class="center">Starting at <span class="redish">35$ a month</span></h1>

    </div>
</div>