@page "{id}"
@model SecuritySite.Pages.Account.Edit.LocationModel
@{
}
<div class="new-location-inputs">
@if (Model.LocationInfo.deleted)
{
    <p>Request has been made to delete this account.</p>
}
<h1>Account Info</h1>
    @if (Model.LocationInfo.commercial)
    {
        <h2 class="deblue">Commercial Property</h2>
    }
    else
    {
        <h2 class="deblue">Residential Property</h2>
    }

    @if (Model.LocationInfo.accepted)
    {
        <h2 class="blue">This account and changes has been approved by Voltic</h2>
    }
    else
    {
        <h2 class="redish">This account or changes made has not yet been approved by Voltic, please contact Voltic to enable/update your monitoring service.</h2>
    }

<form asp-page="Location" method="post" class="new-location-form">
    @Html.AntiForgeryToken()
    <label asp-for="LocationInfo.locationName">Location Name:</label>
    <input asp-for="LocationInfo.locationName" />
    <span asp-validation-for="LocationInfo.locationName"></span>
    <br />

    <label asp-for="LocationInfo.alarmPassword">Alarm Password:</label>
    <input asp-for="LocationInfo.alarmPassword" />
    <span asp-validation-for="LocationInfo.alarmPassword"></span>
    <br />

    <label asp-for="LocationInfo.durressCode">Durress Password:</label>
    <input asp-for="LocationInfo.durressCode" />
    <span asp-validation-for="LocationInfo.durressCode"></span>
    <br />

    <label asp-for="LocationInfo.emergencyContact">Emergency Contact:</label>
    <input asp-for="LocationInfo.emergencyContact" />
    <span asp-validation-for="LocationInfo.emergencyContact"></span>
    <br />

    <label asp-for="LocationInfo.emergencyContactPhoneNumber">Emergency Contact Phone Number:</label>
    <input asp-for="LocationInfo.emergencyContactPhoneNumber" />
    <span asp-validation-for="LocationInfo.emergencyContactPhoneNumber"></span>
    <br />

    <label asp-for="LocationInfo.address">Location Address:</label>
    <input asp-for="LocationInfo.address" />
    <span asp-validation-for="LocationInfo.address"></span>
    <br />

    <label asp-for="LocationInfo.city">City:</label>
    <input asp-for="LocationInfo.city" />
    <span asp-validation-for="LocationInfo.city"></span>
    <br />

    <label asp-for="LocationInfo.county">County:</label>
    <input asp-for="LocationInfo.county" />
    <span asp-validation-for="LocationInfo.county"></span>
    <br />

    <label asp-for="LocationInfo.state">State:</label>
    <input asp-for="LocationInfo.state" />
    <span asp-validation-for="LocationInfo.state"></span>
    <br />

    <label asp-for="LocationInfo.zipcode">Zip/Postal Code</label>
    <input asp-for="LocationInfo.zipcode" />
    <span asp-validation-for="LocationInfo.zipcode"></span>
    <br />

    <label asp-for="LocationInfo.installerCode">Installer Code</label>
    <input asp-for="LocationInfo.installerCode" />
    <br />
    <label asp-for="LocationInfo.additionalInfo">Additional Info</label>
    <textarea asp-for="LocationInfo.additionalInfo"></textarea><br/>

    <button type="submit">Update Info</button>
</form>

        <h2 class="deblue">$@(Model.LocationInfo.MonthlyCost) Monthly</h2>

        <p>Last Updated: @Model.LocationInfo.lastUpdated.ToShortDateString()</p>
        <p>Created on: @Model.LocationInfo.created.ToShortDateString()</p>

    <h3><a href="/account/edit/features/@Model.LocationInfo.MonitoredAccountId">View Account Features</a></h3>

    <br />
    <a href="/Account/remove/location/@Model.LocationInfo.MonitoredAccountId">Delete Account</a>
</div>