@page
@model aboutModel
@{
    ViewData["Title"] = "About Us";
}

<h1 class="page-handle">About Us</h1>
<div class="about-us-container">

<h2 class="center deblue">Who are We?</h2>
<p class="center summary-paragraph">
    Voltic is a business based in Jacksonville, North Carolina. we aim to provide high quality services at an affordable rate.
    We offer our services at what we believe they are worth, we save money on needlessly large advertisements, and work with highly trusted partners,
    and we aim to bring those savings to our customers. Voltic attempts to achieve a step forward in alarm monitoring services, by giving our customers a simplified account
    which allows direct control in choosing the desired services.
 <a href="https://www.facebook.com/profile.php?id=61550116094985" class="fa-brands fa-facebook same-line"></a> @* <a href="https://www.linkedin.com" class="fa-brands fa-linkedin same-line"></a> *@

</p>

<h2 class="center deblue">Professional Services</h2>

<div class="about-grid">
    <div>
            <i class="fa-solid fa-laptop-code" style="color:#2864e4;"></i>
        <h3>Simplified Customer Portal</h3>
        <p>
            Voltic tries to bring our customers a simple yet effective account portal used to manage their account. Integrating new monitored locations and edit existing ones has become much simpler.
            All you need to do is login and edit your plan; Once it is verified by a Voltic technician, your account will be updated.
        </p>
    </div>

    <div>

            <i class="fa-solid fa-location-dot" style="color:#EF6262;"></i>
    <h3>Alarm Installation &amp; Technical Support</h3>
    <p>
        Voltic offers Alarm system installation and maintenance for those located near Jacksonville North Carolina. Feel free to contact us regarding your location and whether we may assist with your home project.
    </p>
    </div>

    <div>

            <i class="fa-solid fa-phone" style="color:#dfaf2d;"></i>
    <h3>Outstanding Monitoring Company</h3>
    <p>
        We use AvantGuard as our monitoring station which is a 5 Diamond rated and UL certified monitoring station.
        Out sourcing our monitoring station allows Voltic to bring you consistent and high quality services while staying at an affordable rate.
    </p>
    </div>
    <div>

            <i class="fa-solid fa-stamp" style="color:#77c26c"></i>
    <h3>Alarm Monitoring Certificate</h3>
    <p>
        Alarm monitoring certificates can oftentimes save you money with your Insurance agency; other times it is required to have a certificate to get your insurance.
        In either of these cases, Voltic can get our customers an alarm monitoring certificate sent to their insurance agencies.
    </p>
</div>

</div>



</div>