@page "{MonitoringCode?}"
@model SecuritySite.Pages.cartModel
@{

}

<div class="page-body">
    <div class="split">

    <div class="left">
        <img class="full-image" src="https://nailpress.brabants.net/photos/bunny.jpg" />

        <div class="page-divider"></div>

    </div>

    <div class="right">

        <h1 class="sub-header">@Model.planDirectory[Model.MonitoringCode]</h1>
         <p class="sub-sub-header" style="text-align:center;">Monthly Charge: $ @(Model.priceDirectory[Model.MonitoringCode])</p>

        <form asp-page="cart" method="post" class="checkout-form">

                <p class="same-line">First Name: </p> <input required type="text" asp-for="MonitoringInfo.customer.firstName" />

            <br/>

                <p class="same-line">Last Name: </p> <input required type="text" asp-for="MonitoringInfo.customer.lastName" />

                <br />

                <p class="same-line">Email: </p> <input required type="text" asp-for="MonitoringInfo.customer.emailAddress" />

                <br />

                <p class="same-line">Phone Number: </p><input required type="text" asp-for="MonitoringInfo.customer.phoneNumber" />

                <br />

                <p class="same-line">Emergency Contact: </p><input required type="text" asp-for="MonitoringInfo.customer.emergencyContact" />

                <br />

                <p class="same-line">Emergency Contact Phone Number: </p><input required type="text" asp-for="MonitoringInfo.customer.emergencyContact" />

                <br />

                <p class="same-line">Address: </p> <input required type="text" asp-for="MonitoringInfo.customer.address" />

                <br />

                <p class="same-line">City: </p><input required type="text" asp-for="MonitoringInfo.customer.city" />

                <br />

                <p class="same-line">County: </p><input required type="text" asp-for="MonitoringInfo.customer.state" />

                <br />

                <p class="same-line">State: </p><input required type="text" asp-for="MonitoringInfo.customer.state" />

                <br />

                <p class="same-line">Zip Code: </p><input required type="text" asp-for="MonitoringInfo.customer.zipcode" />

                <br />

                <p class="same-line">Alarm Password: </p><input required type="text" asp-for="MonitoringInfo.customer.alarmPassword" />

                <br />

                <p class="same-line">Installer Code: </p><input type="text" asp-for="MonitoringInfo.customer.installerCode" />

                <br />

                <p class="same-line">Additional Info: </p><input type="text" asp-for="MonitoringInfo.customer.additionalInfo" />

                <br />

            <p class="same-line">Agree To <a href="/termsofservice">Terms of Service: </a></p><input required type="checkbox" />
            
            <br/>

            <button action="submit">Submit</button>

        </form>




    </div>

</div>

</div>



