@page
@model SecuritySite.Pages.ContactModel
@{
}
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/support-ltk/30min" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/support-ltk/technical-appointment-on-site" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->