@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="top-container">
    <p>Call to schedule a free evaluation <a href="contact">(561)-814-0042</a></p>
</div>

    <div class="img-container">
    <img class="full-image" src="/photos/residential-camera.jpg" alt="alarm monitoring options"/>

        <div class="relative-center">
        <a href="/#residential" class="button-look">Residential Property</a> 
        <a href="/#commercial" class="button-look">Commercial Property</a>
        
        </div>

    </div>

<div class="page-body">

    <h1 class="page-statement">
        Your Next Steps Into<br /> <span class="cyan ">Affordable and Trusted Monitoring</span>
    </h1>

</div>

<div class="page-body">

    <div class="section-border-blue">

        <h1 class="display-4 sub-header" style="padding-top: 2%; color: white;">Why Choose Us?</h1>

        <div class="cards-container">

            <div class="card">
                <i class="center fa-regular fa-clock card-icon"></i>
                <h1 class="">24/7 Monitoring</h1>
                <p>
                    We use <span class="cyan">AvantGuard</span> as our monitoring station
                    which is a <span class="cyan">5 Diamond</span> rated and <span class="cyan">UL</span>
                    certified monitoring station.
                </p>
            </div>

            <div class="card">
                <i class="center fa-solid fa-wallet card-icon"></i>
                <h1 class="">Affordable</h1>
                <p>
                    Voltic Offers <span class="cyan">low cost monitoring</span>
                    to all our customers. Our goal is to create little overhead so
                    that we can offer a very affordable price.

                </p>
            </div>

            <div class="card">
                <i class="center fa-solid fa-screwdriver-wrench card-icon"></i>
                <h1 class="">Personalized Care</h1>
                <p>
                    All of our technicians are trained to provide you with an alarm system
                    that will<span class="cyan">fit your personal needs</span>, paying for <span class="cyan">what you want and need only</span>.
                </p>
            </div>
            <div class="card">
                <i class="center fa-solid fa-certificate card-icon"></i>
                <h1 class="">Alarm Monitoring Certificate</h1>
                <p>
                    We provide <span class="cyan">proof of monitoring for home insurance agencies</span>; for those
                    looking to reduce their insurance bills or those that require one.
                </p>
            </div>


            <div class="card">
                <i class="center fa-solid fa-shield-halved card-icon"></i>
                <h1 class="">Take Over Monitoring</h1>
                <p>
                    We are able to <span class="cyan">take over many alarm systems</span>
                    to provide you with a more affordable monitoring service.
                    Contact us to see if we can take over yours.
                </p>
            </div>

            <div class="card">
                <i class="center fa-solid fa-arrows-turn-to-dots card-icon"></i>
                <h1 class="">Hybrid Monitoring</h1>
                <p>
                    We offer <span class="cyan">DIY monitoring services</span>
                    for those who are not seeking a central station.
                    DIY customers will have reduced costs for our services.<br />
                    Starting at <span class="redish-line">20$</span> a month.
                </p>
            </div>
        </div>

        <div class="res-com">
            <a href="/#residential" class="same-line button-look">Residential Property</a>
            <a href="/#commercial" class="same-line button-look">Commercial Property</a>
        </div>


        <br />
    </div>
    <br />
    </div>
    <br/>

<div class="top-container">
    <p>Create a Free account here: <a class="cyan-line" style="color:white;" href="/account/create">create account</a></p>
</div>

    <div class="page-body">


    @*RESIDENTIAL MONITORING CARDS*@
    <div class="monitoring-rates-section">
        <h1 id="residential" class="sub-header">Residential Monitoring Prices</h1>
        

        <div class="cards-container">


            <div class="black-card" >
             <h1 class="deblue">DIY Home<br/> Monitoring</h1>
                <i class="center fa-solid fa-mobile-screen-button card-icon"></i>
                <ul>
                    <li><p><span class="cyan">Remote control app</span></p></li>
                    <li><p>Notification on alarm</p></li>
                    <li><p>No central station dispatch</p></li>
                    <li><p>Smart home compatible</p></li>
                </ul>
                <a href="/info/DiyResidentialSilver">Silver: 20$</a>
                <a href="/info/DiyResidentialGold">Gold: 25$</a>
                <a href="/info/DiyResidentialCamera">Silver w/Cameras: 35$</a>
                <p class="sub-sub-header" style="text-align:center; margin:0px; padding:0px;">Click To Learn More</p>
            </div>

            <div class="black-card">
                <h1 class="">Home<br /> Monitoring</h1>
                <i class="center fa-solid fa-house card-icon"></i>

                <ul>
                    <li><p><span class="redish-line">Central station dispatch</span></p></li>
                    <li><p><span class="cyan">Remote control app</span>*</p></li>
                    <li><p>Notification on alarm</p></li>
                    <li><p>Smart home compatible</p></li>
                </ul>
                <a href="/info/ProResidentialSilver">Silver: 30$</a>
                <a href="/info/ProResidentialGold">Gold: 35$</a>
                <p class="sub-sub-header" style="text-align:center; margin:0px; padding:0px;">Click To Learn More</p>
            </div>

            <div class="black-card">
                <h1 class="">Monitoring<br /> w/Cameras</h1>
                <i class="center fa-solid fa-video card-icon"></i>
                <ul>
                    <li><p><span class="redish-line">Central station dispatch</span></p></li>
                    <li><p>Camera Viewing Capability</p></li>
                    <li><p><span class="cyan">Remote control app</span></p></li>
                    <li><p>Notification on alarm</p></li>
                    <li><p>Smart home compatible</p></li>
                    <li><p>Video verification compatible</p></li>
                    <li><p>Daily supervision tests</p></li>
                    <li><p>Doorbell compatible</p></li>
                </ul>
                <a href="/info/ProResidentialCameraSilver">Silver: 40$</a>
                <a href="/info/ProResidentialCameraGold">Gold: 45$</a>
                <p class="sub-sub-header" style="text-align:center; margin:0px; padding:0px;">Click To Learn More</p>
            </div>

        </div>


        @*BUSINESS MONITORING CARDS*@

        <h1 id="commercial" class="sub-header">Commercial Monitoring Prices</h1>

        <div class="cards-container">
            <div class="black-card" >
                <h1 class="deblue">DIY Commercial<br /> Monitoring</h1>
                <i class="center fa-solid fa-mobile-screen-button card-icon"></i>
                <ul>
                    <li><p><span class="cyan">Remote control app</span></p></li>
                    <li><p>Notification on alarm</p></li>
                    <li><p>No central station dispatch</p></li>
                    <li><p>Smart home compatible</p></li>
                </ul>
                <a href="/info/DiyCommercialSilver">Silver: 30$</a>
                <a href="/info/DiyCommercialGold">Gold: 35$</a>
                <a href="/info/DiyCommercialCamera">Silver w/Cameras: 45$</a>
                <p class="sub-sub-header" style="text-align:center; margin:0px; padding:0px;">Click To Learn More</p>
            </div>


            <div class="black-card">
                <h1 class="" >Commercial<br /> Monitoring</h1>
                <i class="center fa-regular fa-building card-icon"></i>
                <ul>
                    <li><p><span class="redish-line">Central station dispatch</span></p></li>
                    <li><p><span class="cyan">Remote control app</span>*</p></li>
                    <li><p>Alarm call verification</p></li>
                    <li><p>Smart home compatible</p></li>
                    <li><p><span class="redish-line">6-hr supervision</span> times</p></li>
                </ul>
                <a href="/info/ProCommercialSilver">Silver: 50$</a>
                <a href="/info/ProCommercialGold">Gold: 55$</a>
                <p class="sub-sub-header" style="text-align:center; margin:0px; padding:0px;">Click To Learn More</p>
            </div>

            <div class="black-card">
                <h1 class="">Monitoring<br /> w/Cameras</h1>
                <i class="center fa-solid fa-video card-icon"></i>
                <ul>
                    <li><p><span class="redish-line">Central station dispatch</span></p></li>
                    <li><p>Camera Viewing Capability</p></li>
                    <li><p><span class="cyan">Remote control app</span></p></li>
                    <li><p>Alarm call verification</p></li>
                    <li><p><span class="redish-line">6-hr supervision</span> times</p></li>
                    <li><p>Smart home compatible</p></li>
                    <li><p>Video verification compatible</p></li>
                    <li><p>Daily supervision tests</p></li>
                    <li><p>Doorbell compatible</p></li>
                </ul>
                <a href="/info/ProCommercialCameraSilver">Silver: 65$</a>
                <a href="/info/ProCommercialCameraGold">Gold: 70$</a>
                <p class="sub-sub-header" style="text-align:center; margin:0px; padding:0px;">Click To Learn More</p>
            </div>

        </div>
        </div>

        </div>



<div class="page-body">



        <h1 class="display-4 sub-header">Can We Take Over Your System?</h1>

        <p class="sub-sub-header">
            If your alarm system is included in this list, be happy to know that we can  take over
            monitoring!
        </p>

        <ul class="page-list">
            <li>Vista series panels including: vista 15p, vista 20p, vista 21ip, vista 21iplte, and vista 128bpt</li>
            <li>Lynx series panels including: L5100, L5200, L5210, and L7000</li>
            <li>Alarm.com compatible panels: 2GIG Edge, Qolsys IQ2 and IQ4, GC2 and GC2e, the GC3 and GC3e, and System Enhancement Moduals [SEM]</li>
            <li>Panels communicating with: M2M, Telguard Communicator, System Enhancement Moduals [SEM], Alula Communicator, DSC Communicator, Alarmnet Communicator, and Napco Communicator</li>
            <li>Most hardwired alarm panels</li>
            <li>Most wireless alarm panels</li>
        </ul>

        <h1 class="sub-sub-header">If your panel is not listed here, feel free to send a photo of it to <span class="redish">support@@voltic.net</span></h1>

        <h1 class="display-4 sub-header">How Can We Afford These Prices?</h1>


    <p class="sub-sub-header">
        Voltic takes an effort to minimize expenses and pass on the savings to our customers by out sourcing monitoring, minimizing equipment purchases, and working on smaller scope goals.
    </p>
    <ul class="page-list">
        <li>We keep our expenses to a minimum by reducing overhead costs and only ordering parts on a need basis</li>
        <li>Out sourcing our monitoring allows us to offer high quality monitoring services without having the overhead costs</li>
        <li>Keeping our goals on a smaller scope allows us to focus on those we monitor, allowing us to avoid unecessary expenses</li>
        </ul>
        
        
    
</div>

