@page
@model SecuritySite.Pages.TermsOfServiceModel
@{
    ViewData["Title"] = "Terms Of Service";
}
<body style="background-color: #eee;">
<div class="tos-page">

<h3>Voltic - Monitoring Terms Of Use</h3>
<h4>Company Address</h4>
<p>
   1144 Western Blvd #1127,<br/>
   Jacksonville, NC 28546
</p>
<h4>Last Updated: September 16, 2023</h4>
<p>
    These Terms and Conditions (the "Terms") apply to services provided to monitor one or more alarm systems ("Monitoring Service") and are agreed to by Customer ("YOU") and Voltic LLC  
    and constitutes the entire agreement between YOU and Company with respect to Monitoring Service, superseding all prior representations, discussions, and agreements, whether oral or written. 
    The Customer agrees to receive and pay for Monitoring Service on a MONTH TO MONTH basis and automatically renews until terminated.
</p>

<ol>
    <li>
        CHANGES TO TERMS: From time to time, Voltic may change these Terms to accommodate new technologies, industry practices, regulatory requirements, or for other purposes. If you object to any changes,
        you may terminate the Monitoring Service as provided for in the TERMINATION section below. YOU acknowledge that your continued use of the Monitoring Service after the changes are
        implemented constitutes your acceptance and agreement to such changes. Headings and captions used herein are for convenience only, do not form a part of the agreement, and shall in no way affect its interpretation.
    </li>

    <li>
        PURCHASE: YOU represent and warrant that your identity and contact information provided to the Company for Monitoring Service is accurate, and that YOU are age 18 or older and otherwise competent and authorized to 
        agree to enter into and be bound by these Terms. Orders for Monitoring Services received from YOU online shall not be binding until accepted by Voltic.

    </li>

    <li>
        BILLING AND PAYMENTS: YOU agree that Monitoring Service will commence when your system goes "online". Online means that Voltic has programmed your equipment to send signals the central monitoring 
        station has received satisfactorily transmitted test signals from your system. YOU agree to be charged in advance for the Monitoring Service and to pay for any applicable taxes, fines, fees, third-party expenses, 
        and costs of collection. YOU agree that payment shall be made by third-party INVOICES. YOU agree to keep your payment information current. The company reserves the right to pass on 
        to YOU any credit card or bank transaction fees.
    </li>

    <li>
        LOCAL FEES AND COMPLIANCE WITH ORDINANCES: YOU are responsible for compliance of your system with local codes and ordinances, and any costs associated with all required licenses, permits, or other governmental 
        authorizations, needed for Company to perform your Monitoring Service, even if applied for by Company on your behalf. If any authorization is denied, revoked, restricted, or not renewed, Company shall not be liable, 
        and YOU are not relieved of your obligations, including making payments for expenses incurred by Company, in connection with your Order for Monitoring Service and these Terms. YOU agree to complete forms or application 
        related to required license, permit or authorization. If Company is charged for such, and YOU agree to reimburse Company for such charges and fees, and authorize Company to process payment using the payment method YOU have 
        on file with Company. YOU are responsible for notifying Company of all applicable local codes and ordinances and any changes of such codes and ordinances which may affect the Monitoring Service.
    </li>

    <li>
        ELECTRONIC FORMAT: By purchasing products or services from Company, YOU agree to be legally bound and that these Terms and Conditions govern such purchase of products and services and acknowledge that your consent has 
        been by electronic format pursuant to the federal Electronic Signatures in Global and National Commerce Act and the Uniform Electronic Transactions Act.
    </li>

    <li>
        OUTSOURCED MONITORING TERMS OF SERVICE: YOU acknowledge that Voltic LLC relies on third-party services from Geoarm inc (“company”) which is an independently owned Alarm Company that enables Voltic LLC to provide you with
                monitoring services. These Geoarm Terms (sections 1 through 35) are part of your legal agreement with Company. <a href="https://www.geoarm.com/monitoring-terms.html">Click Here</a> to view Geoarm Terms.
                Voltic LLC is not responsible for the alarm monitoring services.
    </li>

    <li>
        INTERPRETATION: YOU acknowledge that you had the opportunity to have these Terms reviewed by an attorney of your choice. With respect to the interpretation of these Terms concerning an ambiguity or otherwise, 
        there shall be no presumption against Company as the drafter of these Terms.
    </li>
    <li>
         TERMINATION: The monitoring term agreed to is MONTH TO MONTH. YOU may request cancelation of Monitoring Service for each location (an account is the login portal while a 'location' is the monitoring service for a particular address) 
         at any time within the customer portal located under https://www.voltic.tech/account. 
         Company may terminate Monitoring Service at any time, for cause (e.g., nonpayment, malfunctioning 
         or antiquation of Customer's system, labor difficulties, regulatory changes, or other) or no cause immediately, with notice to YOU by email at the last email address 
         provided by YOU. Company's termination of service shall not constitute a waiver of its right to collect any charges or expenses which have accrued prior to or become 
         due after termination or to pursue any remedy permitted it under law or in equity. Company reserves the right to immediately cancel Monitoring Service, without notice, 
         in the event the central monitoring station, connection link, or the equipment monitoring your alarm system is destroyed by fire or other catastrophe, or is so substantially 
         damaged that it is impractical or impossible, in Company's sole discretion, to continue provision of service. In any such event, YOU shall be liable only for any payments for services 
         that accrued prior to date of cancellation and any other charges connected thereto.
    </li>
</ol>
    </div>

</body>
