<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voltic @ViewData["Title"]</title>
    <script src="https://kit.fontawesome.com/01e6330f62.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Voltic alarm monitoring in North Carolina, affordable and simplified service" />
    <meta name="keywords" content="alarm monitoring, richlands monitoring, alarm system, qolsys, honeywell, alarm technician, voltic, voltic monitoring, affordable monitoring, alarm system" />
    <link rel="icon" type="image/x-icon" href="/photos//uncompressed/shield-logo.png" />
</head>
<body>


     @RenderBody()

</body>


</html>

