<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voltic Security</title>
    <link href="~/css/page.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/01e6330f62.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>



        <div class="same-line page-header sticky" >
            <a style="text-decoration:none;" href="/">
            @*<object class="same-line"></object> Logo*@
            <i class="blue fa-solid fa-shield-halved" style="font-size: 55px; margin-left: 4%;"></i>
            <p style="margin-left: 0px;" class="same-line">Voltic</p>
            </a>
            <div class="header-link-spacing">
                <a class="same-line" href="/#residential">Residential</a>
                <a class="same-line" href="/#commercial">Commercial</a>
                <a class="same-line" href="/about-us">About Us</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="same-line" href="/account">My Account</a>
            }
            else
            {
                <a class="same-line" href="/account/Login">Sign Up/Login</a>
            }
            </div>

        </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-grid">
        <div>
            <h1>Help</h1>
            <a href="/contact">Contact Us</a><br />
            <a href="/account/appointment">Customer Service</a><br />
            <a href="/info/maintenance">Maintain My System</a><br />
            <a href="/info/monitorable">How We Work</a><br />
            <a href="/account/request/certificate">Certificate of Alarm</a><br />
        </div>
        <div>
            <h1>Information</h1>
            <a href="/about">About us</a><br />
            <a href="/termsofservice">Terms Of Service</a><br />
            <a href="/contact">Contact us</a><br />
            <a href="/account">Customer Portal</a><br />
            <a></a>
        </div>
        <div>
            <h1>Want To Start?</h1>
            <a href="/account/create">Create Your Account</a><br/>
            <a href="/account">Add Monitored Location</a><br/>
            <a href="/account/appointment">Schedule a technical appointment</a><br />
            <a href="/help/maintenance">Maintain Your System</a><br />
        </div>
        <br/>
    </footer>
    <div class="blue-line">
        <p>Voltic</p>
    </div>

@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SecuritySite - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

@*<script>
    window.onscroll = function () { myFunction() };

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>*@
</html>